.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;

  .wrapper {
    max-width: 1200px;
    height: 100%;
    margin: auto;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      color: rebeccapurple;

      h1 {
        font-size: 80px;
        letter-spacing: 10px;
      }

      h2 {
        font-size: 40px;
        color: white;
        font-weight: 400;
      }

      .buttons {
         z-index: 10;
        button {
          padding: 15px 30px;
          border: 1px solid transparent;
          border-radius: 15px;
          background-color: orange;
          margin-right: 20px;
          font-size: 16px;
          cursor: pointer;
          transition: all 300ms ease;

          &:hover {
            background-color: transparent;
            border-color: orange;
            color: white;
          }
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer img {
    position: absolute;
    background-size: cover;
    height: 80%;
    right: 0;
    bottom: 0;
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -115px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
