.navbar {
  height: 100px;

  .wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-size: 40px;
      color: orange;
      cursor: pointer;
    }

    span {
      font-weight: bold;
    }
    .social {
      display: flex;
      gap: 20px;

      a img {
        width: 40px;
        transition: all 300ms ease;

        &:hover {
         transform: translateY(-5px);
       }
      }
    }
  }
}
