.navbar {
  height: 100px;
  width: 100%;

  .wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  span {
    font-weight: bold;
  }
  .social {
    display: flex;
    gap: 20px;

    a img {
      width: 30px;
    }
  }
}
