<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="incaltaminte.css">
    <title>Magazin de incaltaminte</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body class="no-scroll">

    <header>
        <div class="header">
            <div class="btn-primary" href="index.html">
                <h1>Magazin de incaltaminte</h1>
            </div>
        </div>
    </header>


    <main id="main">
        <div class="container">
            <h2 class="main-title">Cele mai noi produse</h2>
        </div>

        <div class="container">

            <section class="product">

                <article class="card">
                    <div class="img-card">
                        <img class="card-img-product" src="img/shoes1.webp" alt="">
                        <div class="product-overlay">
                            <a href="#modal1" class="quick-view">Quick view</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="product-title">Denumirea incaltamintei</p>
                        <p class="description-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam,
                            voluptates
                            consequuntur accusantium distinctio quibusdam animi eaque incidunt impedit inventore modi.
                        </p>
                    </div>
                    <div class="price">
                        <p>Pret: <span>$29.99</span></p>
                    </div>
                    <div class="rating">
                        <p>Star-rating: <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>4.5</p>
                    </div>
                    <div class="select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="cafeniu">Cafeniu</option>
                                <option value="bej">Bej</option>
                                <option value="albastru">Albastru</option>
                                <option value="negru">Negru</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>
                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>

                    <div class="promotion">
                        <a href="#">-10%</a>
                    </div>
                </article>

                <article class="card">
                    <div class="img-card">
                        <img class="card-img-product" src="img/shoes2.webp" alt="">
                        <div class="product-overlay">
                            <a href="#modal2" class="quick-view">Quick view</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="product-title">Denumirea incaltamintei</p>
                        <p class="description-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam,
                            voluptates
                            consequuntur accusantium distinctio quibusdam animi eaque incidunt impedit inventore modi.
                        </p>
                    </div>
                    <div class="price">
                        <p>Pret: <span>$159.99</span></p>
                    </div>
                    <div class="rating">
                        <p>Star-rating: <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>4.5</p>
                    </div>
                    <div class="select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="verde">Verde</option>
                                <option value="negru">Negru</option>
                                <option value="albastru">Albastru</option>
                                <option value="cafeniu">Cafeniu</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>
                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>

                    <div class="promotion">
                        <a href="#">Popular</a>
                    </div>
                </article>

                <article class="card">
                    <div class="img-card">
                        <img class="card-img-product" src="img/shoes-png-45073.webp" alt="">
                        <div class="product-overlay">
                            <a href="#modal3" class="quick-view">Quick view</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="product-title">Denumirea incaltamintei</p>
                        <p class="description-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam,
                            voluptates
                            consequuntur accusantium distinctio quibusdam animi eaque incidunt impedit inventore modi.
                        </p>
                    </div>
                    <div class="price">
                        <p>Pret: <span>$39.99</span></p>
                    </div>
                    <div class="rating">
                        <p>Star-rating: <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>4.5</p>
                    </div>
                    <div class="select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="albastru">Albastru</option>
                                <option value="negru">Negru</option>
                                <option value="bej">Bej</option>
                                <option value="cafeniu">Cafeniu</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>
                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>

                    <div class="promotion">
                        <a href="#">Sale</a>
                    </div>
                </article>

                <article class="card">
                    <div class="img-card">
                        <img class="card-img-product" src="img/shoes-png-45059.webp" alt="">
                        <div class="product-overlay">
                            <a href="#modal4" class="quick-view">Quick view</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="product-title">Denumirea incaltamintei</p>
                        <p class="description-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam,
                            voluptates
                            consequuntur accusantium distinctio quibusdam animi eaque incidunt impedit inventore modi.
                        </p>
                    </div>
                    <div class="price">
                        <p>Pret: <span>$79.99</span></p>
                    </div>
                    <div class="rating">
                        <p>Star-rating: <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span>4.5</p>
                    </div>
                    <div class="select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="cafeniu">Cafeniu</option>
                                <option value="negru">Negru</option>
                                <option value="bej">Bej</option>
                                <option value="albastru">Albastru</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>
                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>

                    <div class="promotion">
                        <a href="#">-15%</a>
                    </div>
                </article>

            </section>

        </div>

    </main>

    <section>

        <div class="modal" id="modal1">
            <div class="modal-content">
                <a href="#main" class="modal__close">
                    <img class="modal-close" src="img/close-circle-svgrepo-com.svg" alt="" width="40">
                </a>
                <div class="modal-img">
                    <img src="img/shoes1.webp" alt="">
                </div>
                <div class="modal-description">
                    <h4>Denumirea incaltamintei</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum neque blanditiis laudantium porro
                        repudiandae, doloribus obcaecati aliquid. Laudantium iste ipsa sapiente quia aliquid accusamus,
                        in, quos ullam tempora a rem.</p>

                    <div class="price price-right">
                        <p>Pret: <span>$29.99</span></p>
                    </div>

                    <div class="select-size modal-select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="cafeniu">Cafeniu</option>
                                <option value="bej">Bej</option>
                                <option value="albastru">Albastru</option>
                                <option value="negru">Negru</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>

                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modal2">
            <div class="modal-content">
                <a href="#main" class="modal__close">
                    <img class="modal-close" src="img/close-circle-svgrepo-com.svg" alt="" width="40">
                </a>
                <div class="modal-img">
                    <img src="img/shoes2.webp" alt="">
                </div>
                <div class="modal-description">
                    <h4>Denumirea incaltamintei</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum neque blanditiis laudantium porro
                        repudiandae, doloribus obcaecati aliquid. Laudantium iste ipsa sapiente quia aliquid accusamus,
                        in, quos ullam tempora a rem.</p>

                    <div class="price price-right">
                        <p>Pret: <span>$159.99</span></p>
                    </div>

                    <div class="select-size modal-select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="cafeniu">Cafeniu</option>
                                <option value="bej">Bej</option>
                                <option value="albastru">Albastru</option>
                                <option value="negru">Negru</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>

                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modal3">
            <div class="modal-content">
                <a href="#main" class="modal__close">
                    <img class="modal-close" src="img/close-circle-svgrepo-com.svg" alt="" width="40">
                </a>
                <div class="modal-img img-3">
                    <img src="img/shoes-png-45073.webp" alt="">
                </div>
                <div class="modal-description">
                    <h4>Denumirea incaltamintei</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum neque blanditiis laudantium porro
                        repudiandae, doloribus obcaecati aliquid. Laudantium iste ipsa sapiente quia aliquid accusamus,
                        in, quos ullam tempora a rem.</p>

                    <div class="price price-right">
                        <p>Pret: <span>$39.99</span></p>
                    </div>

                    <div class="select-size modal-select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="cafeniu">Cafeniu</option>
                                <option value="bej">Bej</option>
                                <option value="albastru">Albastru</option>
                                <option value="negru">Negru</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>

                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modal4">
            <div class="modal-content">
                <a href="#main" class="modal__close">
                    <img class="modal-close" src="img/close-circle-svgrepo-com.svg" alt="" width="40">
                </a>
                <div class="modal-img">
                    <img src="img/shoes-png-45059.webp" alt="">
                </div>
                <div class="modal-description">
                    <h4>Denumirea incaltamintei</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum neque blanditiis laudantium porro
                        repudiandae, doloribus obcaecati aliquid. Laudantium iste ipsa sapiente quia aliquid accusamus,
                        in, quos ullam tempora a rem.</p>

                    <div class="price price-right">
                        <p>Pret: <span>$79.99</span></p>
                    </div>

                    <div class="select-size modal-select-size">

                        <div class="color-product">
                            <label for="culoare">Culoare:</label>
                            <select name="culoare" title="culoare">
                                <option value="cafeniu">Cafeniu</option>
                                <option value="bej">Bej</option>
                                <option value="albastru">Albastru</option>
                                <option value="negru">Negru</option>
                            </select>
                        </div>

                        <div class="size-product">
                            <label for="Marime">Marime:</label>
                            <div class="size-text">
                                <span class="minus">-</span>
                                <span class="num">35</span>
                                <span class="plus">+</span>
                            </div>
                        </div>

                    </div>

                    <div class="btn">
                        <a class="btn-buy btn-buy-complete" href="#"></a>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script src="app.js"></script>

</body>

</html>