<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="calendar.css">
    <title>Calendar</title>
</head>

<body>


    <header>
        <h1>Calendar 2023</h1>
        <a href="#current-date" title="Apasa pentru a vedea data de azi">Data curenta</a>
    </header>


    <div class="calendar">

        <section class="month">
            <div class="month-item">
                <h4>Ianuarie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">26</div>
                <div class="days-item background-none">27</div>
                <div class="days-item background-none">28</div>
                <div class="days-item background-none">29</div>
                <div class="days-item background-none">30</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item">31</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
                <div class="days-item background-none">3</div>
                <div class="days-item background-none">4</div>
                <div class="days-item background-none">5</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Februarie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">30</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
                <div class="days-item background-none">3</div>
                <div class="days-item background-none">4</div>
                <div class="days-item background-none">5</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Martie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">27</div>
                <div class="days-item background-none">28</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item">31</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Aprilie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">27</div>
                <div class="days-item background-none">28</div>
                <div class="days-item background-none">29</div>
                <div class="days-item background-none">30</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Mai 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item">31</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
                <div class="days-item background-none">3</div>
                <div class="days-item background-none">4</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Iunie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">29</div>
                <div class="days-item background-none">30</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Iulie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">27</div>
                <div class="days-item background-none">28</div>
                <div class="days-item background-none">29</div>
                <div class="days-item background-none">30</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item">31</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
                <div class="days-item background-none">3</div>
                <div class="days-item background-none">4</div>
                <div class="days-item background-none">5</div>
                <div class="days-item background-none">6</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item current-month">
                <h4>August 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item active" id="current-date" title="Data de azi">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item">31</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
                <div class="days-item background-none">3</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Septembrie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">28</div>
                <div class="days-item background-none">29</div>
                <div class="days-item background-none">30</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item background-none">1</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Octombrie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">25</div>
                <div class="days-item background-none">26</div>
                <div class="days-item background-none">27</div>
                <div class="days-item background-none">28</div>
                <div class="days-item background-none">29</div>
                <div class="days-item background-none">30</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item">31</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
                <div class="days-item background-none">3</div>
                <div class="days-item background-none">4</div>
                <div class="days-item background-none">5</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Noiembrie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">30</div>
                <div class="days-item background-none">31</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item background-none">1</div>
                <div class="days-item background-none">2</div>
                <div class="days-item background-none">3</div>
            </div>
        </section>

        <section class="month">
            <div class="month-item">
                <h4>Decembrie 2023</h4>
            </div>
            <div class="days">
                <div class="days-item item-day">L</div>
                <div class="days-item item-day">M</div>
                <div class="days-item item-day">Mi</div>
                <div class="days-item item-day">J</div>
                <div class="days-item item-day">V</div>
                <div class="days-item item-day">S</div>
                <div class="days-item item-day">D</div>
                <div class="days-item background-none">27</div>
                <div class="days-item background-none">28</div>
                <div class="days-item background-none">29</div>
                <div class="days-item background-none">30</div>
                <div class="days-item">1</div>
                <div class="days-item">2</div>
                <div class="days-item">3</div>
                <div class="days-item">4</div>
                <div class="days-item">5</div>
                <div class="days-item">6</div>
                <div class="days-item">7</div>
                <div class="days-item">8</div>
                <div class="days-item">9</div>
                <div class="days-item">10</div>
                <div class="days-item">11</div>
                <div class="days-item">12</div>
                <div class="days-item">13</div>
                <div class="days-item">14</div>
                <div class="days-item">15</div>
                <div class="days-item">16</div>
                <div class="days-item">17</div>
                <div class="days-item">18</div>
                <div class="days-item">19</div>
                <div class="days-item">20</div>
                <div class="days-item">21</div>
                <div class="days-item">22</div>
                <div class="days-item">23</div>
                <div class="days-item">24</div>
                <div class="days-item">25</div>
                <div class="days-item">26</div>
                <div class="days-item">27</div>
                <div class="days-item">28</div>
                <div class="days-item">29</div>
                <div class="days-item">30</div>
                <div class="days-item">31</div>
            </div>
        </section>

    </div>


</body>

</html>